<h1>Edit User</h1>

<%= render 'form_errors', user: @user %>

<!-- HTML form -->

<%# render 'html_form', user: @user, patch_form: true %>

<!-- form_tag form -->

<%# render 'form_tag_form', user: @user, patch_form: true %>

<!-- form_with form -->

<%= render 'form', user: @user %>